<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>American Sign Language Detector</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">American Sign Language Detector</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="centered-card">
    <p>Comienza a identificar la letra según el Lenguaje de Señas</p>
  </ion-card>

  <ion-card class="clue">
    <p>
      Sube una foto del lenguaje de señas (ASL) para que puedas detectar a qué
      letra corresponde y puedas comunicarte sin fronteras!
    </p>
    <p>
      ¿Tienes dudas? Aprende el Lenguaje de Señas en la sección "Acerca de" y
      prueba ASL Detector tú mismo!
    </p>
  </ion-card>

  <!-- CARGA DE IMAGEN - INICIO -->
  @if(imageReady()) {
  <ion-card>
    <img #image [src]="imageUrl()" alt="Imagen seleccionada" />

    <!-- CARGA DE PREDICCIÓN - INICIO -->
    @if(modelLoaded()) {

    <div class="ion-text-center ion-padding-top ion-padding-bottom">
      <ion-button fill="outline" color="success" (click)="predict()"
        >Predecir</ion-button
      >
    </div>

    <ion-list>
      <ion-item>
        <ion-label>Letra del abecedario en inglés</ion-label>
        @for (item of predictions; track $index) {
        <ion-item>
          <ion-label>
            {{ item?.className }} : {{ item?.probability | percent }}
          </ion-label>
        </ion-item>
        }
      </ion-item>
    </ion-list>

    }
    <!-- CARGA DE PREDICCIÓN - FIN -->
  </ion-card>
  }
  <!-- CARGA DE IMAGEN - FIN -->

  <input
    #fileInput
    type="file"
    accept="image/*"
    (change)="onFileSelected($event)"
    hidden
  />

  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="fileInput.click()">
      <ion-icon name="cloud-upload-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
