<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Identificación de Noticias Falsas</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <p>Esta aplicación utiliza IA para analizar noticias y ayudar a identificar su veracidad.</p>
      <br>
      <p>Desarrollado por:</p>
      <ul id="members">
        <li>Leidy Barzola</li>
        <li>Braulio Rivas</li>
        <li>Diego Araujo</li>
      </ul>
    </ion-card-content>
  </ion-card>

</ion-content>